# Ignorar node_modules en el directorio backend 
/backend/node_modules 

# Ignorar node_modules en el directorio frontend
/frontend-byteshop/node_modules
/frontend/byteshop/node_modules

/frontend/byteshop/node_modules

/backend/.env

# misc
*.txt
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar carpetas viejas del proyecto

/frontend-byteshop
/frontend/byteshop
